.wrapper{
    max-width: 34.3rem;
    margin: -1.5rem auto;
    padding: 0 1rem;

    grid-template-columns: 28.1rem 5.6rem;
    display: grid;
    gap: 0.5rem;
    
}

  .wrapper textarea{
    display: flex;
    width: 100%;
    height: 3.3rem;
    border-radius: 8px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize: none;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    color: var(--gray-300);
  }

  .wrapper textarea:focus{
    border: var(--purple);
  }

  .wrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    color: var(--white);
  }
