

.task {
    background: var(--gray-400);
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 1.50rem;
    margin-top: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-400);
    word-break: break-word; 
  }

.trashContainer{
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
}

.trashContainer:hover{
  color: var(--red-danger);
}

.checkContainer{
    min-width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.checkContainer div{
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;
}


.checkContainer svg{
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 50%;
    margin-bottom: 0.625rem;
    animation-name: appear;
    animation-duration: 0.5s;
}



@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes changeCollor {
    from {border: var(--blue);}
    to {border: var(--purple);}
  }

.task p {
    position: relative;
    font-size: 0.875em;
    padding: 0 0.50em 0;
    user-select: none;
    transition: 0.5s;
    margin-right: auto;
}

p.textCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
  }

div.divCompleted{
    width: 100%;
    height: 100%;
    border: 2px solid var(--purple);
    border-radius: 50%;
    animation-name: changeCollor;
    animation-duration: 0.2s;
}



  