.taskBoard {
    margin-top: 4rem;
    width: 46rem;
    color: var(--gray-100);
    margin-bottom: 3rem;
  }

.taskBoard > header{
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;    
}

.taskBoard > header > p:first-child{
    color: var(--blue);
}

.taskBoard > header > p:first-child span{
    margin-left: 1rem ;
    background-color: var(--gray-400);
    padding: 0.13rem 0.6rem;
    border-radius: 999px;
    color: var(--gray-200);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
    font-weight: 700;
}

.taskBoard > header > p:last-child{
    color: var(--purple);
}

.taskBoard > header > p:last-child span{
    margin-left: 1rem ;
    background-color: var(--gray-400);
    padding: 0.13rem 0.6rem;
    border-radius: 999px;
    color: var(--gray-200);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
    font-weight: 700;
}

.empty{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-300);
    text-align: center;

}

.empty svg{
    opacity: 0.3;

}

.empty p{
    font-weight: 700;
}

main{
    justify-content: center;
    display: flex;
    
}

.line{
    display: block;
    border-bottom: 1px solid var(--gray-500);
    height: 1px;

}